{% extends 'dashboard/index.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
                   Gestion patients
        </div>
        <div class="card-body">    
                <h1 class="bg-light text-center bg-dark text-white">Liste des patients</h1>
                <a class="btn btn-dark btn-sm" href="{{ path('patient_new') }}">Ajouter Patient</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Date Naissance</th>
                        <th>Cin</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.id }}</td>
                        <td>{{ patient.firstName }}</td>
                        <td>{{ patient.lastName }}</td>
                        <td>{{ patient.dateOfBirth ? patient.dateOfBirth|date('Y-m-d') : '' }}</td>
                        <td>{{ patient.cin }}</td>
                        <td>
                            <a href="{{ path('patient_show', {'id': patient.id}) }}">show</a>
                            <a href="{{ path('patient_edit', {'id': patient.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

    
        </div>
    </div>
   
{% endblock %}
