{% extends 'dashboard/index.html.twig' %}

{% block title %}Medecins{% endblock %}

{% block content %}
    <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Gestion des Médecins</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="card-block">
                                <h6 class="card-title text-bold">Liste des Médecins</h6>
                                {% if app.user.role == "ROLE_ADMIN" %}
                                <p class="content-group">
                                  <a class="btn btn-primary" href="{{ path('medecin_new') }}">Ajouter un médecin</a>
                                </p>
                                {% endif %}
								<div class="table-responsive">
									<table class="datatable table table-stripped ">
                                    <thead>
                                        <tr>
                                            <th>Prénom</th>
                                            <th>Nom</th>
                                            <th>Specialite</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for medecin in users %}
                                        <tr>
                                            <td>{{ medecin.firstName }}</td>
                                            <td>{{ medecin.lastName }}</td>
                                            <td>{{ medecin.specialite }}</td>
                                            <td>

                                                <a class="btn btn-warning" href="{{ path('medecin_edit',{'id':medecin.id}) }}">modifier</a>
                                                <a class="btn btn-danger" href="{{ path('medecin_delete',{'id':medecin.id}) }}">supprimer</a>
                                            </td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>

{% endblock %}
