{% extends 'dashboard/index.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
    <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Gestion des Sécretaires</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="card-block">
                                <h6 class="card-title text-bold">Liste des Sécretaires</h6>
                                <p class="content-group">
                                  <a class="btn btn-primary" href="{{ path('secretaire_new') }}">Ajouter un secretaire</a>
                                </p>
								<div class="table-responsive">
									<table class="table">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Tel</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.email }}</td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.tel }}</td>
                                <td>
                                    <a href="{{ path('secretaire_show', {'id': user.id}) }}">show</a>
                                    <a href="{{ path('secretaire_edit', {'id': user.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>


{% endblock %}
