{% extends 'dashboard/index.html.twig' %}

{% block title %}User{% endblock %}

{% block content %}
<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Gestion des Sécretaires</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="card-block">

								  <h1>sécretaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ user.tel }}</td>
            </tr>
        </tbody>
    </table>






    <div class="row">





        <div class="col-md-4">
             <a href="{{ path('secretaire_index') }}">back to list</a>

        </div>
        <div class="col-md-4">
                <a href="{{ path('secretaire_edit', {'id': user.id}) }}">edit</a>
        </div>
        <div class="col-md-4">
               {{ include('secretaire/_delete_form.html.twig') }}
        </div>
    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</div>

{% endblock %}
